<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/css/style_admin_index.css">
    <link rel="stylesheet" href="C:\Users\abhishek sahoo\Desktop\style_index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage with Navbar and Search Bar</title>


</head>
<body>

  <div class="container-main">
    <div class="navbar">
      <div class="nav-home"><a href="#home">Home</a></div>
      <div class="nav-about"><a href="#about">About</a></div>
      <div class="nav-serv"><a href="#services">Services</a></div>
      <div class="nav-contact"><a href="#contact">Contact</a></div>


      </div>
    <div class="search-bar">
      <div class="search-bar-inside"><input type="text" class="search-input" placeholder="Search for detail"></div>

        <div class="srch-0btn"><button class="search-button">Search</button></div>

    </div>

    <div class="nav-name-logout">
      <div class="nav-para"><p>Welcome {{absudhfiuajoshf}}</p></div>

      <div class="nav-logout-btn"><input type="button" value="Logout"></button></div>
    </div>



    </div>

</div>

<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
      <h2>Job Seeker</h2>
      <p>This is the content of card 1. You can put any information you want here.</p>
  </div>

  <!-- Card 2 -->
  <div class="card">
      <h2>Admin Detail</h2>
      <p>This is the content of card 2. You can put any information you want here.</p>
  </div>

  <!-- Card 3 -->
  <div class="card">
      <h2>Job Giving Detail </h2>
      <p>This is the content of card 3. You can put any information you want here.</p>
  </div>
</div>


<footer>
<div class="attractive-footer">
  <p>2023 Your RojgarMate.com</p>
  <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
</footer>

</body>
</html>
