<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Signup Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <style>
        .full-height {
            height: 100vh;
        }

        body, html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
  <!--Stylesheet-->
</head>
<body>

<form action="../client_jg_signup/" method="post">
        {% csrf_token %}


<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black ">
                <h3 class="mb-5 text-uppercase">Job seeker registration form</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" name="form3Example1m" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" name="form3Example1n" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Last name</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m1" name="form3Example1m1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">City</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n1" name="form3Example1n1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n1">State</label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example8" name="form3Example8" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">E-mail Id </label>
                </div>


                 <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1ngen" name="form3Example1ngen" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1ngen">Gender</label>
                    </div>
                  </div>



                <div class="form-outline mb-4">
                  <input type="text" id="form3Example9" name="form3Example9" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example9">DOB</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example90" name="form3Example90" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example90">Intrest</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example99" name="form3Example99" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example99">Education</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example97" name="form3Example97" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example97">Phone Number</label>
                </div>

                  <div class="form-check">
 <input type="checkbox" class="form-check-input" id="termsCheckbox">
     <label class="form-check-label" for="termsCheckbox">
               I am a berojgar & accept all terms and conditions</a>
         </label>
      </div>

                 <script>
        // Enable the submit button when the checkbox is checked
        document.getElementById("termsCheckbox").addEventListener("change", function() {
            document.getElementById("submitButton").disabled = !this.checked;
        });
    </script>

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg">Reset all</button>
                  <button type="submit" class="btn btn-warning btn-lg ms-2" id="submitButton" disabled  >Sign Up </button>
<!--                  <div><input type="submit" value="SUBMIT"></div>-->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>>

</body>
</html>